body{
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 80px 0px 0px;
}
li{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}
ul{
    color: black;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
section {
    color: white;
}
.content{
    background-color: red;
    width: auto;
    height: 800px;
}
footer{
    background-color: black;
    width: 100%;
    height: auto;
    color: black;
}

